@page
@model Library.Pages.PaymentStatusModel
@{
}
<div>
@Model.responseVnPay.VnPayTransactionStatus
@Model.responseVnPay.Amount
@Model.responseVnPay.PaymentId
@Model.responseVnPay.VnPayResponseCode
@Model.responseVnPay.Success
</div>